

<h3>About This Site</h3>
<p>
  
Card Smith is an online card generator that was created to allow creative players to easily and rapidly create cards and share concept visualizations. 

As this website is under construction, we are recpetive to all feedback from our users. Please don't hesitate to let us know if you have any cool ideas, or general feedback.
</p>

<p>

Disclaimer
Artwork uploaded and displayed on the site is the property of the original artist and credit given is at the discretion of the users of the software. Images and comments are user-submitted and do not represent official endorsements of this site. MTG Cardsmith makes no claim to ownership of the Backgrounds, Artwork, or Card Concepts shared on the site.
</p>
<p>
Terms of Use
By using the MTG Cardsmith website you agree to the following:
1. No offensive or inappropriate text or images
2. You will not abuse the systems and services provided by the site.
3. Photos, uploads, content and comments deemed unfit for the site and it's audience will be removed from the site if necessary, without notice.
4. You agree and understand that abuse of the system or posting disallowed content may result in the banning of your member account, IP address, or contacting the authorities if the abuse continues. Depending on the severity of the infraction, an account probation period may be issued.

</p>