<h1>ABout page</h1>


<h3>About This Site</h3>
<p>
  

Card Smith is an online card generator that was created to allow creative Magic: The Gathering players to easily and rapidly create cards and share concept visualizations. Since inception in May 2011, we have added support for complex card concepts, Planeswalkers, and Token card creation. In addition, we have continued to engage the community for ideas, resulting in member accounts, tools and new functionality since launch.

Disclaimer
This website is not affiliated with nor endorsed by Magic: The Gathering™ or Wizards of the Coast. Magic: the Gathering is trademark and copyright Wizards of the Coast, Inc., a subsidiary of Hasbro, Inc. All rights reserved. Card backgrounds used on this site are used with credit to Magic Set Editor under the Creative Commons BY-NC-SA 2.5 License.

Artwork uploaded and displayed on the site is the property of the original artist and credit given is at the discretion of the users of the software. Images and comments are user-submitted and do not represent official endorsements of this site. MTG Cardsmith makes no claim to ownership of the Backgrounds, Artwork, or Card Concepts shared on the site.

Terms of Use
By using the MTG Cardsmith website you agree to the following:
1. Be nice to others.
2. You will not abuse the systems and services provided by the site.
3. Photos, uploads, content and comments deemed unfit for the site and it's audience will be removed from the site if necessary, without notice.
4. You agree and understand that abuse of the system or posting disallowed content may result in the banning of your member account, IP address, or contacting the authorities if the abuse continues. Depending on the severity of the infraction, an account probation period may be issued.



</p>