<div class="row">
  <div class="col-md-8 col-md-offset-2 about">
    <h3>About This Site</h3>
    <p>
      
      Card-Smith is an online card generator that was created to allow creative players to easily and rapidly create cards and share concept visualizations.
      This site is currently under construction, and we areare eager to receive feedback. Please don't hesitate to contact us about any feature requests, or if you have general feedback.
    </p>
    <p>
      <br>
      <h4>Disclaimer</h4>
      Artwork uploaded and displayed on the site is the property of the original artist and credit given is at the discretion of the users of the software. Images and comments are user-submitted and do not represent official endorsements of this site. Card-Smith makes no claim to ownership of the Backgrounds, Artwork, or Card Concepts shared on the site.
    </p>
    <p>
      <br>
      <h4>Terms of Use</h4>
      By using the Card-Smith website you agree to the following:
      <li>1. No offensive or inappropriate text or images.</li>
      <li>2. You will not abuse the systems and services provided by the site.</li>
      <li>3. Photos, uploads, content and comments deemed unfit for the site and it's audience will be removed from the site if necessary, without notice.</li>
      <li>4. You agree and understand that abuse of the system or posting disallowed content may result in the banning of your member account, IP address, or contacting the authorities if the abuse continues. Depending on the severity of the infraction, an account probation period may be issued.</li>
    </p>
    <p></p>
  </div>
</div>