<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading card generator</title>

  <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#">My Games</a></li>
    <li><a href="#">My Cards</a></li>
  </ul>

</nav>


  <!-- USER AUTHENTICATION -->

    <a href="/session/new">Login</a>    
  
  <%= yield %>

</body>