<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trading card generator</title>

  <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#">My Games</a></li>
    <li><a href="/my_cards">My Cards</a></li>
  </ul>

</nav>


  <!-- USER AUTHENTICATION -->

    <button><a href="/session/new">Login</a></button>
    <% if logged_in? %>

    <p>Logged in as: <%= current_user.username %></p>
    
    <p>
      <form action="/session" method='post'>
      <input type="hidden" name="_method" value="delete"> <!-- browser doesnt support delete method so we need to use this 'hidden' ty[e] -->
          <button>logout</button>
    </form>
    </p>


    <% else %>

      <a href="/session/new">Login</a>

    <% end %>


  <%= yield %>

</body>