/* NAVIGATION*/
nav {
  height: 40px;
  background: #a7e0ee;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none; 
}

.nav li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
}

.nav li a:hover {
  color: white;
}

.card_stream {
  width: 80%;
}

.headerBreak {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #a7e0ee;
}

/*BODY*/


/*.userCreatedCard img {
  display: block;
  max-width:200px;
  max-height:400px;
  width: auto;
  height: auto;
}*/

body {
  width: 100%;
  margin: 0 auto;
  background: url(/images/background-image-compressed.jpg) no-repeat center center fixed;
  background-size: cover;
}


/*CARD*/


.cards {
}

.cardTemplate {
  background: url('/images/card_front(1).png') no-repeat top center;
  font-size: 0.8em;
  background-size: cover;
  width: 200px;
  height: 300px;
  /*position: relative;*/
  margin: 0;
  /*display: inline-block;*/
  float: left;
  margin: 0 30px 15px 0;
}

.creature-name {
  position: relative;
  top: 20px;
  left: 30px;
}

.user-text {
  position: relative;
  left: 30px;
}

.user-image {
  height: 185px;
  width: 167px;
  position: relative;
  top: 10px;
  left: 18px;
  overflow: hidden;
  margin: 0px;
  padding-top: 20px
}
  
.user-image img {
  max-width: 100%;
  max-height: 100%;
}

.bottom-left-top {
  position: relative;
  top: 20px;
  right: 6px;
}

.bottom-left-bottom {
  position: relative;
  top: 34px;
  right: 5px;
}

.bottom-right {
  position: relative;
  left: 100px;
  bottom: 12px
}

/*LOGIN PAGE*/


.col-md-4.login {
  background-color: white;
  height: 280px;
  border-radius: 20px;

}

/*NAV*/
.headerStatus {
  width: 100%;
}
.login_status, .navRight {
  float: right !important;
}


/*NEW CARD*/
* { 
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}


.cardLeft {
  float: left;
  width: 50%;
  padding: 3%;
  height: 100%;
  background: url(/images/card_front.png) no-repeat top center;
}

.cardRight {
  float: left;
  width: 50%;
  height: 100%;
  background: url(/images/card_back.png) no-repeat top center;
}

.image {
  width: 100%;
  height: 200px;
}


