

/* NAVIGATION*/
nav {
  height: 40px;
  background: #a7e0ee;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none; 
}

.nav li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
}

.nav li a:hover {
  color: white;
}

.card_stream {
  width: 80%;
}

.headerBreak {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #a7e0ee;
}

/*BODY*/
body {
  width: 100%;
  margin: 0 auto;
  background: url(/images/background-image-compressed.jpg) no-repeat center center fixed;
  background-size: cover;
}
/*FOOTER*/
footer {
  text-align: center;
  background: rgba(100,100,100, .25);
  padding: 12px;
  margin: 0!important; 
  position: absolute;
  width: 100%;
  height: 6%;
  bottom: 0;
}
/*INDEX*/

.buttons {
text-align: center;
padding-bottom: 3%;
}

.heading {
  font-size: 40px; 
  text-align: center;
  padding-bottom: 3%;
}
#heading {
  font-size: 0.5em;
  padding-bottom: 20px;
}

.grey {
  background-color: #8CC193;
  box-shadow: 0px 5px 0px 0px #46845D;
  color: white;
  width: 200px;
}

.grey:hover {
  background-color: #77AA7D;
  color: white;
}

/*CARD*/

.cardTemplate {
  background: url('/images/card_front(1).png') no-repeat top center;
  font-size: 0.8em;
  background-size: cover;
  width: 200px;
  height: 300px;
  margin: 0;
  float: left;
  margin: 0 30px 15px 0;

}
.cardTemplateBack {
  background: url('/images/card_back(2).png') no-repeat top center;
  font-size: 0.8em;
  background-size: cover;
  width: 200px;
  height: 300px;
  margin: 0;
  float: left;
  margin: 0 30px 15px 0;
}

.cardTemplate-large {
  background: url('/images/card_front(lrg).png') no-repeat top center;
  font-size: 0.9em;
  background-size: cover;
  width: 270px;
  height: 400px;
  margin: 0;
  float: left;
  margin: 0 30px 15px 0;
}
.cardTemplateBack-large {
  background: url('/images/card_back(lrg).png') no-repeat top center;
  font-size: 0.9em;
  background-size: cover;
  width: 270px;
  height: 400px;
  margin: 0;
  float: left;
  margin: 0 30px 15px 0;
}

.creature-name {
  position: relative;
  top: 20px;
  left: 30px;
}

.user-text {
  position: relative;
  left: 30px;
}

.user-image {
  height: 188px;
  width: 169px;
  position: relative;
  top: 10px;
  left: 17px;
  overflow: hidden;
  margin: 0px;
  padding-top: 20px
}
  
.user-image img {
  width: 100%;
  height: 167px;
  }

.bottom-left-top {
  position: relative;
  top: 20px;
  right: 6px;
}

.bottom-left-bottom {
  position: relative;
  top: 34px;
  right: 5px;
}

.bottom-right {
  position: relative;
  left: 100px;
  bottom: 12px
}


.top-top {
  position: relative;
  top: 20px;
  right: -2px;
  width: 200px;
}

.middle-middle {
  position: relative;
  top: 120px;
  right: -2px;
  width: 200px;
}
/*LOGIN PAGE*/


.col-md-4.login {
  height: 370px;
  width: 40%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid rgba(211, 233, 241, 0.3);
}

.col-md-3.register {
  height: 370px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid rgba(211, 233, 241, 0.3);
}

/*NAV*/
.headerStatus {
  width: 100%;
}
.login_status, .navRight {
  float: right !important;
}


/*Card stream*/
* { 
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

.cardLeft {
  float: left;
  width: 50%;
  padding: 3%;
  height: 100%;
  background: url(/images/card_front.png) no-repeat top center;
}

.cardRight {
  float: left;
  width: 50%;
  height: 100%;
  background: url(/images/card_back.png) no-repeat top center;
}

.image {
  width: 100%;
  height: 200px;
}

/*New card form*/
.col-md-6.new-card {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid rgba(211, 233, 241, 0.3);
}

/*About page*/
.col-md-8.about {
  /*width: 70%;*/
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid rgba(211, 233, 241, 0.3);
}

#create-card {
  text-align: center;
}